@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 1.2em;
  color: #4e4e4e;
  font-weight: 900;
  position: relative;
}

.feedback {
  margin: 0 auto;
}

.feedback .feedback-header {
  background: #2989cf;
  border-radius: 0 0 28px 28px;
  padding: 20px 30px;
  position: relative;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
}

.feedback .feedback-header .feedback-header__title,
.feedback .feedback-header .feedback-header__id {
  color: white;
}

.feedback .feedback-header .feedback-header__id {
  font-size: 1.25em;
  font-weight: bold;
}

.feedback .feedback-header #logo {
  width: 112px;
  position: absolute;
  right: 150px;
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feedback .feedback-main {
  padding: 100px 0 0 0;
}

.feedback .feedback-main .feedback-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
  border-radius: 10px;
  margin-bottom: 30px;
}

.feedback .feedback-main .feedback-information h2.termin-details {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  padding: 30px;
  border-bottom: 1px solid #2989cf;
}

.feedback .feedback-main .feedback-information p {
  font-weight: 100;
  font-size: 1.2em;
}

.feedback .feedback-main .feedback-information .feedbacker,
.feedback .feedback-main .feedback-information .feedback-date {
  padding: 30px 30px 50px 30px;
}

.feedback .feedback-main .feedback-information p {
  font-size: 1.25em;
  margin-top: 10px;
}

.feedback .feedback-main .feedback-information img {
  width: 50px;
  margin-right: 15px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.feedback .termindate {
  background: #f3ce7d;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 30px 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.feedback .termindate .input-group {
  position: relative;
}

.feedback .termindate .input-group label {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%) translateX(30px);
          transform: translateY(-50%) translateX(30px);
  background: white;
  border-radius: 5px;
  color: #707070;
  font-weight: lighter;
  font-size: 0.8em;
  padding: 3px 5px;
}

.feedback .termindate .input-group input {
  padding: 15px 15px 10px 30px;
  width: 200px;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  color: #4e4e4e;
  cursor: pointer;
  font-size: 16px;
}

.feedback .termindate .input-group:nth-child(1) {
  margin-right: 40px;
}

.feedback .termindate .input-group:nth-child(1) input {
  width: 350px;
}

.feedback .termindate.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.feedback .mjv-box {
  background: #e36447;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 30px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.feedback .mjv-box .input-group {
  position: relative;
}

.feedback .mjv-box .input-group label {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%) translateX(30px);
          transform: translateY(-50%) translateX(30px);
  background: white;
  border-radius: 5px;
  color: #707070;
  font-weight: lighter;
  font-size: 0.8em;
  padding: 3px 5px;
}

.feedback .mjv-box .input-group input {
  padding: 15px 15px 10px 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  color: #4e4e4e;
  font-weight: bold;
  font-size: 1.12em;
}

.feedback .mjv-box.active {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.feedback .feedback-form {
  margin-top: 30px;
}

.feedback .feedback-form h2 {
  margin-bottom: 40px;
}

.feedback .feedback-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0 30px;
  font-family: "Poppins", sans-serif;
}

.feedback .feedback-form .checkboxes-group,
.feedback .feedback-form .ratings-group {
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
  border-radius: 10px;
  padding: 25px 0;
}

.feedback .feedback-form .checkboxes-group h2,
.feedback .feedback-form .ratings-group h2 {
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid #2989cf;
}

.feedback .feedback-form .checkboxes-group {
  position: relative;
}

.feedback .feedback-form .checkboxes-group .alert {
  background: #E0A800;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.feedback .feedback-form .checkboxes-group .alert::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #E0A800;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.feedback .feedback-form .checkboxes-group .alert span.material-icons {
  color: white;
  margin-right: 10px;
}

.feedback .feedback-form .checkboxes-group .alert--show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.feedback .feedback-form .checkboxes-group .input-group {
  margin-bottom: 30px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .feedback-form .checkboxes-group .input-group label {
  font-size: 1.1em;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #4e4e4e;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  line-height: 1;
}

.feedback .feedback-form .checkboxes-group .input-group .checkboxInput {
  -webkit-appearance: none;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background: #c4c4c4;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.feedback .feedback-form .checkboxes-group .input-group .checkboxInput:checked {
  color: black;
}

.feedback .feedback-form .checkboxes-group .input-group .checkboxInput:checked::after {
  content: "✓";
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1;
  font-weight: bold;
}

.feedback .feedback-form .checkboxes-group .checkbox--disabled input,
.feedback .feedback-form .checkboxes-group .checkbox--disabled label {
  opacity: 0.5;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  pointer-events: none;
}

.feedback .feedback-form .ratings-group .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5px 5px 25px;
  margin: 0 30px 10px 30px;
  border-radius: 4px;
  background: #1bb38e;
}

.feedback .feedback-form .ratings-group .input-group input {
  width: 130px;
  min-width: 130px;
  color: black;
  font-weight: bold;
  border: none;
  padding: 7px 0 7px 9px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-size: 1.12em;
}

.feedback .feedback-form .ratings-group .input-group label {
  color: white;
  font-size: 1.1em;
  padding-right: 10px;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(3) {
  background-color: #a6b548;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(4) {
  background-color: #223d49;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(5) {
  background-color: #259284;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(6) {
  background-color: #e6bc5f;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(7) {
  background-color: #e36447;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(8) {
  background-color: #7831e9;
}

.feedback .feedback-form .ratings-group .input-group:nth-child(9) {
  background-color: #e25280;
}

.feedback .feedback-form .ratings-group .input-group:last-child {
  background-color: #337bff;
}

.feedback .feedback-form .comment-group {
  background: #ececec;
  padding: 30px 30px 20px 30px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
}

.feedback .feedback-form .comment-group .input-group {
  position: relative;
}

.feedback .feedback-form .comment-group .input-group label {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%) translateX(30px);
          transform: translateY(-50%) translateX(30px);
  background: white;
  border-radius: 5px;
  color: #707070;
  font-weight: lighter;
  font-size: 0.8em;
  padding: 3px 5px;
}

.feedback .feedback-form .comment-group .input-group textarea {
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  resize: none;
  padding: 20px;
  outline: none;
  font-size: 1.2em;
  -webkit-appearance: none;
  color: #4e4e4e;
}

.feedback .feedback-form #submitbutton {
  padding: 15px 30px;
  border: unset;
  border-radius: 14px;
  background: #194667;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin: 30px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -webkit-box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
          box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;
}

.feedback .feedback-form #submitbutton span {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feedback .feedback-form #submitbutton:hover {
  opacity: 0.95;
}

.feedback .feedback-form #submitbutton:hover span {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

@media only screen and (max-width: 991px) {
  .feedback .feedback-header #logo {
    width: 100px;
    right: 30px;
  }
  .feedback .feedback-main {
    padding: 80px 0 0 0;
  }
  .feedback .feedback-form .ratings-group .input-group input {
    width: 90px;
    min-width: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .feedback h2 {
    font-size: 1.3em;
  }
  .feedback .feedback-header #logo {
    width: 80px;
  }
  .feedback .feedback-main .feedback-information {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 1em;
  }
  .feedback .feedback-main .feedback-information h2.termin-details {
    padding-bottom: 15px;
  }
  .feedback .feedback-main .feedback-information .feedbacker {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .feedback .feedback-main .feedback-information .feedbacker,
  .feedback .feedback-main .feedback-information .feedback-date {
    padding: 20px 30px 20px 30px;
  }
  .feedback .feedback-main .feedback-check--first {
    margin-bottom: 80px;
  }
  .feedback .feedback-form form {
    display: block;
  }
  .feedback .feedback-form form .checkboxes-group {
    margin-bottom: 20px;
  }
  .feedback .feedback-form form #submitbutton {
    padding: 15px;
  }
  .feedback .feedback-form .comment-group {
    font-size: 1em;
  }
  .feedback .termindate .input-group:nth-child(1) input {
    width: 200px;
    min-width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .feedback .feedback-form .comment-group {
    margin-bottom: 100px;
  }
  .feedback .feedback-form #submitbutton {
    position: fixed;
    margin-bottom: 20px;
    bottom: 0;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .feedback .termindate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 30px 20px 30px;
  }
  .feedback .termindate .input-group:nth-child(1) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .feedback .termindate .input-group:nth-child(1) input {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .feedback .feedback-header #logo {
    width: 60px;
    top: 50%;
    right: 20px;
  }
  .feedback .feedback-header .feedback-header__title {
    font-size: 1.2em;
    max-width: 80%;
  }
  .feedback .feedback-form .checkboxes-group .input-group {
    padding: 0 20px;
  }
  .feedback .feedback-form .ratings-group .input-group {
    padding: 5px 5px 5px 15px;
    margin: 0 15px 10px 15px;
  }
  .feedback .feedback-form .ratings-group .input-group input {
    width: 60px;
    min-width: 60px;
  }
  .feedback .feedback-form .ratings-group .input-group label {
    font-size: 1em;
  }
  .feedback .feedback-form .comment-group {
    padding: 30px 15px 20px 15px;
  }
  .feedback .feedback-main {
    padding: 40px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */