$first-color: #1bb38e;
$second-color: #a6b548;
$third-color: #223d49;
$fourth-color: #259284;
$fifth-color: #e6bc5f;
$sixth-color: #e36447;
$seventh-color: #7831e9;
$eigth-color: #e25280;
$ninth-color: #337bff;
$gray-color: #4e4e4e;
$light-gray: #707070;
$blue-color: #2989cf;
$orange-color: #f3ce7d;
$checkbox-bg: #c4c4c4;
$submit-btn: #194667;
$box-shadow: 4px 4px 24px #e0dede, -4px -4px 24px #e0dede;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and(max-width:576px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and(min-width:576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and(min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and(min-width:992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and(min-width:1200px) {
  .container {
    max-width: 1200px;
  }
}
body {
  font-family: "Lato", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 1.2em;
  color: $gray-color;
  font-weight: 900;
  position: relative;
}
.feedback {
  margin: 0 auto;
  .feedback-header {
    background: $blue-color;
    border-radius: 0 0 28px 28px;
    padding: 20px 30px;
    position: relative;
    .feedback-header__title,
    .feedback-header__id {
      color: white;
    }
    .feedback-header__id {
      font-size: 1.25em;
      font-weight: bold;
    }
    #logo {
      width: 112px;
      position: absolute;
      right: 150px;
      top: 100%;
      transform: translateY(-50%);
    }
  }
  .feedback-main {
    padding: 100px 0 0 0;
    .feedback-information {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: $box-shadow;
      border-radius: 10px;
      margin-bottom: 30px;
      h2.termin-details {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 30px;
        border-bottom: 1px solid $blue-color;
      }

      p {
        font-weight: 100;
        font-size: 1.2em;
      }
      .feedbacker,
      .feedback-date {
        padding: 30px 30px 50px 30px;
      }

      p {
        font-size: 1.25em;
        margin-top: 10px;
      }
      img {
        width: 50px;
        margin-right: 15px;
      }
    }
  } 
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .termindate {
    background: $orange-color;
    padding: 40px;
    display: flex;
    padding: 22px 30px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: none;
    opacity: 0;
    visibility: hidden;
    .input-group {
      position: relative;
      label {
        position: absolute;
        top: 0;
        transform: translateY(-50%) translateX(30px);
        background: white;
        border-radius: 5px;
        color: $light-gray;
        font-weight: lighter;
        font-size: 0.8em;
        padding: 3px 5px;
      }
      input {
        padding: 15px 15px 10px 30px;
        width: 150px;
        border: none;
        border-radius: 5px;
        outline: none;
        -webkit-appearance: none;
        color: $gray-color;
        cursor: pointer;
      }
      &:nth-child(1) {
        margin-right: 40px;
        input {
          width: 350px;
        }
      }
    }
  }
  .termindate.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    animation: fade 1s;
  }
 
  .mjv-box {
    background: $sixth-color;
    padding: 40px;
    display: flex;
    padding: 22px 30px 15px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: none;
    opacity: 0;
    visibility: hidden;
    .input-group {
      position: relative;
      label {
        position: absolute;
        top: 0;
        transform: translateY(-50%) translateX(30px);
        background: white;
        border-radius: 5px;
        color: $light-gray;
        font-weight: lighter;
        font-size: 0.8em;
        padding: 3px 5px;
      }
      input {
        padding: 15px 15px 10px 30px;
        width: 150px;
        border: none;
        border-radius: 5px;
        outline: none;
        -webkit-appearance: none;
        color: $gray-color;
      }
    }
  }
  .mjv-box.active {
    display: block;
    opacity: 1;
    visibility: visible;
    animation: fade 1s;
  }
  .feedback-form {
    margin-top: 30px;
    h2 {
      margin-bottom: 40px;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 30px;
      font-family: "Poppins", sans-serif;
    }
    .checkboxes-group,
    .ratings-group {
      box-shadow: $box-shadow;
      border-radius: 10px;
      padding: 25px 0;
      h2 {
        padding: 0 30px 10px 30px;
        border-bottom: 1px solid $blue-color;
      }
    }
    .checkboxes-group {
      .input-group {
        margin-bottom: 20px;
        padding: 0 30px;
        label {
          font-size: 1.1em;
          padding-left: 25px;
          padding-right: 25px;
          cursor: pointer;
          font-weight: bold;
          color: $gray-color;
        }
        .checkboxInput {
          -webkit-appearance: none;
          padding: 10px;
          border-radius: 3px;
          display: inline-block;
          position: relative;
          background-color: transparent;
          cursor: pointer;
          transform: translateY(2px);
          background: $checkbox-bg;
        }
        .checkboxInput:checked {
          color: black;
        }
        .checkboxInput:checked::after {
          content: "✓";
          font-size: 1.2em;
          position: absolute;
          top: 50%;
          left: 50%;
          color: black;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          line-height: 1;
          font-weight: bold;
        }
      }
    }
    .ratings-group {
      .input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 25px;
        margin: 0 30px 10px 30px;
        border-radius: 4px;
        background: $first-color;

        input {
          width: 130px;
          color: black;
          font-weight: bold;
          border: none;
          padding: 7px 0 7px 9px;
          border-radius: 4px;
          outline: none;
          text-align: center;
          font-size: 1.12em;
        }
        label {
          color: white;
          font-size: 1.1em;
        }
        &:nth-child(3) {
          background-color: $second-color;
        }
        &:nth-child(4) {
          background-color: $third-color;
        }
        &:nth-child(5) {
          background-color: $fourth-color;
        }
        &:nth-child(6) {
          background-color: $fifth-color;
        }
        &:nth-child(7) {
          background-color: $sixth-color;
        }
        &:nth-child(8) {
          background-color: $seventh-color;
        }
        &:nth-child(9) {
          background-color: $eigth-color;
        }
        &:last-child {
          background-color: $ninth-color;
        }
      }
    }
    .comment-group{
      background: #ececec;
      padding: 30px 20px 20px 20px;
      grid-column-start: 1;
      grid-column-end: 3;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: $box-shadow;
      .input-group{
        position: relative;
        label {
          position: absolute;
          top: 0;
          transform: translateY(-50%) translateX(30px);
          background: white;
          border-radius: 5px;
          color: $light-gray;
          font-weight: lighter;
          font-size: 0.8em;
          padding: 3px 5px;
        }
        textarea{
          width: 100%;
          border: 1px solid #CFCFCF;
          border-radius: 10px;
          resize: none;
          padding: 20px;
          outline: none;
          font-size: 1.2em;
          -webkit-appearance: none;
          color: $gray-color;
        }
      }
    }
    #submitbutton {
      padding: 15px 30px;
      border: unset;
      border-radius: 14px;
      background: $submit-btn;
      color: white;
      font-size: 1.4em;
      font-weight: bold;
      cursor: pointer;
      margin: 30px 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      box-shadow: $box-shadow;
      span {
        transform: translateX(10px);
        transition: 0.3s;
      }
      &:hover {
        opacity: 0.95;
        span {
          transform: translateX(15px);
        }
      }
    }
  }
}

@media only screen and(max-width:991px) {
  .feedback {
    .feedback-header {
      #logo {
        width: 100px;
        right: 30px;
      }
    }
    .feedback-main {
      padding: 80px 0 0 0;
    }
    .feedback-form {
      .ratings-group {
        .input-group {
          input {
            width: 90px;
          }
        }
      }
    }
  }
}

@media only screen and(max-width:767px) {
  .feedback {
    h2 {
      font-size: 1.3em;
    }
    .feedback-header {
      #logo {
        width: 80px;
      }
    }
    .feedback-main {
      .feedback-information {
        grid-template-columns: 1fr;
        font-size: 1em;
        h2.termin-details {
          padding-bottom: 15px;
        }
        .feedbacker {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        .feedbacker,
        .feedback-date {
          padding: 20px 30px 20px 30px;
        }
      }
      .feedback-check--first {
        margin-bottom: 80px;
      }
    }
    .feedback-form {
      form {
        display: block;
        .checkboxes-group {
          margin-bottom: 20px;
        }
        #submitbutton {
          padding: 15px;
        }
      }
    }
    .termindate {
      .input-group {
        &:nth-child(1) {
          input {
            width: 200px;
          }
        }
      }
    }
  }
}
@media only screen and(max-width:576px) {
  .feedback {
    .feedback-form {
      .comment-group {
        margin-bottom: 100px;
      }
      #submitbutton {
        position: fixed;
        margin-bottom: 20px;
        bottom: 0;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        padding: 10px;
      }
    }
  }
}

@media only screen and(max-width:500px) {
  .feedback {
    .termindate {
      flex-direction: column;
      padding: 30px 30px 20px 30px;
      .input-group {
        &:nth-child(1) {
          margin-right: 0;
          margin-bottom: 30px;
          input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .feedback {
    .feedback-header {
      #logo {
        width: 60px;
        top: 50%;
        right: 20px;
      }
    }
    .feedback-form {
      .checkboxes-group {
        .input-group {
          padding: 0 20px;
        }
      }
      .ratings-group {
        .input-group {
          padding: 5px 5px 5px 15px;
          margin: 0 15px 10px 15px;
          input {
            width: 60px;
          }
          label {
            font-size: 1em;
          }
        }
      }
    }
    .feedback-main {
      padding: 40px 0 0 0;
    }
  }
}
